@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
  background: #3d84a8;
}

a{
  text-decoration: none;
  display: block;
  vertical-align: middle;
  padding: 1em;
  color: white;
  width: 65%;
  height: 1em;
}
a:hover{
  color: #bfbfbf;
}
ul{
  list-style: none;
  float: right;
}
header{
  float: left;
}
li{
  float: left;
  text-align: center;
}
li:hover{
  background: #726fac;
}
nav{
  display: inline-block;
  float: right;
  background: #48466d;
  width: 50%;
  height: 4em;
}
header{
  display: inline-block;
  float: left;
  background: #48466d;
  width: 50%;
  height: 4em;
}
.titulo{
  //font-size: 1em;
  color: white;
  vertical-align: middle;
  margin-bottom: 1em;
  height: 2em;
  float: left;
  padding-left: 5%;
}
.yo{
  height: 2.75em;
  width: 2.75em;
  float: left;
  vertical-align: middle;
  padding-left: 2.5%;
  padding-top: 0.5em;
}
.texto{
  background: #46cdcf;
  float: left;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
  width: 60%;
  border-radius: 5px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.parrafo{
  color: white;
  margin-left: 4%;
}
.sub{
  color: white;
  margin-left: 3%;
}
